<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
			<table class="w-full text-sm text-left text-gray-500  table-auto">
				<thead class="text-xs text-gray-700 uppercase ">
					<tr>
						<td scope="col" colspan="<%= Object.keys(data).length %>" class="bg-gray-50  font-medium px-6 py-3 text-sm" style="text-align: center;">
							BFYBUY
						</td>
					</tr>
					<tr>
						<% for (var i = 0; i < data[0].length; i++) { %>
							<th scope="col" <% if (i % 2 === 0) { %>class="px-6 py-3 bg-gray-50 " <% } %> class="px-6 py-3"><%= data[0][i] %></th>
						<% } %>
					</tr>
				</thead>
				<tbody>
					<% for (var y = 1; y < Object.keys(data).slice(0, -1).length; y++) { %>
						<tr class="border-b border-gray-200 ">
							<% for (var z = 0; z < data[y].length; z++) { %>
								<% product = data[y][z] %>
								<td scope="row"
									<% if (z === 0) { %>class="px-6 py-4 text-gray-900 whitespace-nowrap bg-gray-50  " <% } %>
									<% if (z % 2 === 0) { %>class="px-6 py-4 bg-gray-50 " <% } %>
									class="px-6 py-4"
								>
									<% if (product.cheapest) { %>
										<strong class="font-medium">
											<%= product.cost_rate %>
										</strong>
									<% } else { %>
										<%= product.cost_rate %>
									<% } %>
								</td>
							<% } %>
						</tr>
					<% } %>
				</tbody>
				<tfoot>
					<tr class="border-b border-gray-200 ">
						<% for (var x = 0; x < data[0].length; x++) { %>
							<% const content = data[Object.keys(data).length - 1][x] %>
							<td
								<% if (x === 0 || x % 2 === 0) { %> class="px-6 py-4 bg-gray-50 " <% } %>
								class="px-6 py-4"
							>
								<% if (content.cheapest === true) { %>
									<strong>
										<%= content.text %>
									</strong>
								<% } else { %>
									<%= content.text %>
								<% } %>
							</td>
						<% } %>
					</tr>
				</tfoot>
			</table>
	</body>
</html>